body {
    text-align: center;
    background-color: bisque;
}
img {
    height: 200px;
  width: 170px;
  border: 4px solid black;
  border-radius: 20%;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: blue;
}
a.Spotify {
   background-color: greenyellow; 
}



