body {
    margin-left: 1cm;
    margin-right: 1cm;
    border: 2px solid black;
}
.one {
    background-color: #89cff0;
    border: 2px solid black;
}
a.Factory {
    text-decoration: none;
    color: black;
    font-size: 160%;
    margin-left: 0.5cm;
}
a.Pizza {
    margin-left: 17cm;
}
a.Salad {
    margin-left: 0.5cm;
}
a.Drinks {
    margin-left: 0.5cm;
}
a.Feedback {
    margin-left: 0.5cm;
}
.two {
    text-align: center;
}
#textbox {display:flex; flex-flow:row wrap;background-color: #89cff0;}

.alignleft {
margin-left: 0.5cm;
}
.aligncenter {
width:68.33333%;
text-align:center;
}
.alignright {
width:14%;
text-align:right;
}
.restaurant {
    width: 350px;
    height: 350px;
    margin: auto;
    display: block;
}
.pizza {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 0.5cm;
    position: relative;
}
.salad {
    width: 200px;
    height: 200px;
    float: center;
    margin-left: 7.25cm;
    position: relative;
}
.softdrinks {
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 0.5cm;
    position: relative;
}
h1 {
    text-align: center;
}
.p1 {
    width: 200px;
    height: 200px;
    margin-left: 0.5cm;
}
.p2 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.p3 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.p4 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.p5 {
    width: 200px;
    height: 200px;
    margin-left: 0.5cm;
}
.p6 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.p7 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.p8 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.s1 {
    width: 200px;
    height: 200px;
    margin-left: 0.5cm;
}
.s2 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.s3 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.s4 {
    width: 200px;
    height: 200px;
    margin-left: 2.92cm;
}
.salad1, .salad2, .salad3, .salad4 {
    display: inline-block;
    padding: 2rem;
  }
#s2 {
    margin-left: 1cm;
}
#s3 {
    margin-left: 0.2cm;
}
#s4 {
    margin-left: 2.2cm;
}
.pizza1, .pizza2, .pizza3, .pizza4, .pizza5, .pizza6, .pizza7, .pizza8 {
    display: inline-block;
    padding: 2rem;
}
#p2 {
    margin-left: 0.5cm;
}
#p3 {
    margin-left: 1.3cm;
}
#p4 {
    margin-left: 1cm;
}
#p6 {
    margin-left: 1.3cm;
}
#p7 {
    margin-left: 1.1cm;
}
#p8 {
    margin-left: 1cm;
}
.Coke {
    width: 200px;
    height: 200px;
}
.Pepsi {
    width: 200px;
    height: 200px;
    margin-left: 3.6cm;
}
.Redbull {
    width: 200px;
    height: 200px;
    margin-left: 3cm;
}
.Fanta {
    width: 200px;
    height: 200px;
    margin-left: 3cm;
}
#coke, #pepsi, #fanta, #redbull {
    display: inline-block;
    padding: 2rem;
  }
#coke {
    margin-left: 1.5cm;
}
#fanta {
    margin-left: 5cm;
}
#pepsi {
    margin-left: 5.5cm;
}
#redbull {
    margin-left: 5cm;
}