body {
    background-color: bisque;
}
img {
    height: 200px;
  width: 170px;
  border: 1px solid black;
  border-radius: 20%;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
} 
h2 {
    color: blue;
    
}
a.Spotify {
   background-color: greenyellow; 
}
#container {
    width: 30%;
    margin: auto;
    text-align: left;
}

